/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors).
*/
body {
  background-color: rgb(6, 6, 6);
}

/* Applies to Philip Ward only.
*/
brand {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  color: blueviolet;
}

contact {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  color: rgb(96, 96, 96);
}
