/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors).
*/
body {
  background-color: rgb(6, 6, 6);
  margin: 1%;
}

/* Keep the juice in the hoose.
*/
.img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* Applies to Philip Ward only.
*/
.brand {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: 'Dot Matrix', sans-serif;               
  font-size: 80px;
  color: rgba(115, 14, 210, 0.966);
  position: absolute;
  top: 17px;
  left: 50px;
}

.footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: rgba(236, 236, 236, 0.595);
  text-align: left;
}

.contact {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: rgba(236, 236, 236, 0.912);
  text-align: center;
}

.social {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: rgba(236, 236, 236, 0.319);
  text-align: right;
}